---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "Home Page";
---
<!--like children in react js -->
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
</BaseLayout>
